
*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.fab, .fas{
    font-size:20px;
    margin:30px;
}


#bgpage{
    height:1500px;
}

#logoUl{
    display:flex;
}
body{
    padding-left:10%;
    padding-right:10%;
}
#banner{
    background-color:#d8c7cc;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:10px;
    display:flex;
    justify-content:space-between;
    margin-top:10px;
}

nav{
    margin-bottom:100px;
    display:flex;
    justify-content:space-around;
}


.fa-envelope, .fa-github, .fa-linkedin{
    color: #757791;
}

main{
    margin-top:55px;
}


h1{
   
    font-size: 2rem;
    -webkit-font-smoothing: antialiased;
    font-family:georgia serif;
    color:#757791;
    padding:25px;
    
}
h1 a{
    text-decoration:none;
    color:#757791;
}

h3{
    background-color:#d8c7cc;
    margin:10px;
    padding:10px;
}
nav{
    padding-top:30px;
    padding-bottom:30px;
    /* margin-left:10%; */
}
ul{
    list-style-type:none;
    
}
.list {
    display:inline;
    margin:30px;
    color:black;
}
.list a {
    text-decoration:none;
    color:black;
  
}
a:hover{
    color:#757791;
}

.list{
    position:relative;
}

.list ul{
    position:absolute; 
    background-color:#d8c7cc;
    top:20px;
    left:0px;
    padding-right:58px;
    opacity:0;
}

.list:hover ul{
    opacity:1;
}



.list ul li {
    display:block;
    padding:10px;
}



#cat {
    inline-size: 210px;
}

.flex{
    top:30px;
    display:flex;
    justify-content:space-around;
}




.section1{
    width:50%;
}

.section1 article{
    margin:30px;
}
.section2{
    width:40%;
    padding-left:50px;
}

footer{
    float:right;
    font-style:italic;
    padding:30px;
}
    